@import './libs/reset.scss';
// body::before {
//     visibility: hidden!important;
//     content: " "!important;
// }
body {
    background-color: #000000;
    font-family: serif;
}

p {
    margin: 1rem;
}

.table {
    width: 100%;

    td {
        border: 1px solid #ccc;
        color: #fff;
    }

    thead {
        background-color: #000;
        background-repeat: no-repeat;
        color: #fff;
    }
}

// .btn {
//     background: #3134f3;

//     &:hover {
//         background: #0f0781;
//     }

//     // S'applique si .btn est dans un parent .theme-vert
//     .theme-vert & {
//         background: #15ad15;
//     }

//     @media only screen and (max-width: 1200px) {
//         padding: 10px;
//     }
// }

%btn {
    border-radius: 3px;
    padding: 5px 12px;
}

.btn {
    @extend %btn;
    text-decoration: none;
    background: #8282ff; 
    color: #fff;
    
    &:hover {
         background: #0f0781;
    }
}

// .call-to-action {
//     @extend .btn;
// }

.btn-danger {
    @extend .btn;
    background: #ff3535;
    &:hover {
        background: #b90000;
    }
}
















