@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
$ani-speed: 2s;
$ani-delay: 1s;

body {
    background: url("./mastering-front-end/images/bg.jpg") top/cover no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-size: 110%;
}

.hero {
    background: url("./mastering-front-end/images/hero.jpg") bottom/cover no-repeat;
    height: 100vh;

    h1 {
        text-align: center;
        margin-top: 15rem;

        font-size: 3rem;
        color: #fff;
        font-family: "ExtraBold", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.8rem;
        word-spacing: -0.5rem;
    }

    p {
        text-align: center;
        color: #fff;
        font-family: "Merriweather", serif;
        font-style: italic;
        font-size: 1rem;
    }

    .arrow {
        margin-top: 15rem;
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform-origin: 50% 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    .arrow-first {
        animation: arrow-movement $ani-speed ease-in-out infinite;
    }

    .arrow-second {
        animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
    }

    .arrow:before,
    .arrow:after {
        background: #fff;
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
    }

    .arrow:before {
        transform: rotate(45deg) translateX(-23%);
        transform-origin: top left;
    }

    .arrow:after {
        transform: rotate(-45deg) translateX(23%);
        transform-origin: top right;
    }

    // Animation
    @keyframes arrow-movement {
        0% {
            opacity: 0;
            top: 45%;
        }

        70% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .social {
        grid-column: 3;
        display: flex;
        gap: 1.2rem;
        list-style: none;
        justify-content: flex-end;
        margin: 0;

        li a {
            color: #fff;
            text-decoration: none;
            font-size: 1.1rem;
            transition: color 0.2s;

            &:hover {
                color: #e0e0e0;
            }
        }
    }
}

nav {
    display: flex;
    //    margin-left: 2rem;
    //    margin-right: 2rem;
    margin: 0 auto;
    // flex-direction: row;
    transform: translateY(-19rem);
    justify-content: center;


    .nav {
        display: flex;
        justify-content: left;
        // width: 60%;
        margin-right: 10rem;
    }

    ul {
        display: flex;
        
    }

    li {
        list-style-type: none;
    }

    li .social {
        display: flex;
    }
    a {
        color: #000000;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.07rem;
        letter-spacing: 1px;
        padding: 1.5rem 0.5rem;
        transition: color 0.2s;
        color: #ffffff;
        background-color: #ffffff3d;
        
        &:hover {
            background: #ffffff;
            color: #000000;
        }
    } 
    
    .social img{
        height: 15px;
        width: 16px;
        // margin-left: 5rem;
    //    padding: 0;
       padding-left: 10rem;
       
       justify-content: right;
        
    }

    

}