.main-04 > div {
  display: flex;
  flex-direction: column; // disposition verticale
  align-items: center; // centre horizontalement tous les enfants (dont h3)
  justify-content: center; // centre verticalement (si tu veux dans toute la hauteur du parent)
  height: 100%; // ajuste selon ton layout réel
}

.main-04 h3 {
  transform: translateY(-90rem) !important;
  display: flex;
  flex-direction: column; // permet de manipuler le span comme "element" vertical
  align-items: center; // centre horizontalement le texte ET le span
  justify-content: center; // centre le h3 initialement
  position: relative; // nécessaire pour le positionnement du span
  min-height: 100px; // ajuste selon ton besoin de hauteur
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 5px!important;
  color: #a77c06 !important;
  margin-bottom: -1rem;
  font-family: "Allura", cursive;
  letter-spacing: 0;
}
.main-04 h3 span {
  margin-top: -.7rem; // pousse le span en bas du h3
  display: block;
  align-self: center; // centre horizontalement le span
  color: #fff;
  letter-spacing: 3px!important;
  word-spacing: -15px!important;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600!important; // pour le rendre plus visible
}

.main-04 img {
  width: 40px;
  height: auto;
  max-width: 100%;
  object-fit: cover; // pour que l'image remplisse son conteneur sans déformation
  transform: translateY(-85rem) !important; // pour le même effet que le h3
}

.upcoming {
  margin: 0!important;
  padding: 0!important;
  transform: translateY(5rem)!important;
  display: grid!important;
  width: 100%;
  gap: 2rem;
  grid-template-areas: 
  "prvi  treci"
  "drugi treci";

  .prvi h2, .prvi h4, .prvi p {
    grid-area: prvi;
    transform: translateY(-50rem);
  }

  .drugi {
    grid-area: drugi;
  }

  .treci {
    grid-area: treci;
  }
  
}

