* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

html {
    scroll-behavior: smooth;
    height: 100vh;
}

li {
    list-style: none;
    a {
        text-decoration: none;
        
    }
}

 a {
        text-decoration: none;
        
    }

body {
    padding-bottom: 50rem;
}

