.section2 {
    color: $white;
    padding-bottom: 100px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 620px;
        width: 100%;
        left: 0;
        background: url('../img/bg-menu-01.jpg') center/cover;
        bottom: -330px;
        transform: translate(-50%,-50%);
    }

    h2 {
       color: $color1; 
       font-size: 2rem;
    }
}